* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  margin: 20px;
}

.card {
  position: relative;
  cursor: pointer;
}

.back {
  position: absolute;
  height: 380px;
}

.back.selected {
  border: 2px solid green;
}

.reading {
  opacity: 0;
  transition: opacity 3s;
}

.front {
  height: 400px;
}
