* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  text-align: center;
  margin: 50px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-right: 200px;
}

.card {
  position: relative;
  cursor: pointer;
}

.back {
  position: absolute;
  height: 380px;
  border: 1px solid black;
  border-radius: 3%;
}

.back.selected {
  border: 2px solid green;
}

.reading {
  opacity: 0;
  transition: opacity 3s;
  cursor: auto;
  z-index: 1;
  padding-left: 50px;
}

.content {
  display: flex;
  flex-direction: row;
}

.front {
  height: 250px;
}
