body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(24, 24, 24);
}

.suit-summary {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  margin: 20px;
  color: white;
  width: 50%;
  text-align: center;
}

.suit-summary h1 {
  font-family: 'Cinzel', serif;
  font-size: 45px;
  color: white;
  margin: 20px;
}

nav {
  width: 100%;
  padding: 25px;
  border: 1px solid white;
  text-align: center;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

nav a {
  text-decoration: none;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  color: white;
  padding: 20px;
  transition: 0.3s;
}

nav a:hover {
  color: #7866ff;
}

.card-list {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card-item {
  position: relative;
  margin: 10px;
}

.image {
  opacity: 1;
  transition: .5s ease;
  width: 325px;
  height: auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 0px 7px;
  height: auto;
  top: 0px;
  bottom: 0px;
  opacity: 0;
  transition: .5s ease;
  color: white;
  font-size: 15px;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.card-item:hover .image {
  opacity: 0.2;
}

.card-content:hover {
  opacity: 1;
}

.card-content h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0px;
}

.flavor-text {
  font-family: 'Source Serif Pro', serif;
  font-size: 14px;
  font-style: italic;
}

.card-summary {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
}




