body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(24, 24, 24);
}

nav {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-family: 'Cinzel', serif;
  color: white;
  padding: 10px;
}

h1 {
  font-family: 'Cinzel', serif;
  color: white;
}

.card-list {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-item {
  margin: 10px;
  text-align: center;
  font-family: 'Cinzel', serif;
  color: white;
}